.page_container {
    position: relative;
}

.content_container {
    width: 350px;
    margin-top: 100px;
    border: 1px solid #0000002e;
    border-radius: 15px;
    padding: 30px;
}

.label {
    font-weight: 500;
    font-size: 14px;
}

.privacy_notice {
    font-size: 12px;
}

.privacy_notice_click:hover {
    cursor: pointer;
    color: #ffa500;
}

.register_option_text {
    font-size: 14px;
    color: #808080;
}

.privacy_notice_container {
    position: absolute;
    top: 0;
}

.invalid_credentials {
    color: #ff0000;
    text-align: center;
}

.credentials_length {
    font-size: 12px;
    text-align: end;
}