<div class="navbar bg-warning">
    <div class="container-fluid content_container">
        <img class="logo navbar-brand" src="assets/images/logo/logo.svg">
        <ul class="menu_list d-flex justify-content-between m-0">
            <li class="menu_listitem" (click)="navigate('')">
                Store
            </li>
            <div class="basket_container">
                <li class="menu_listitem" (click)="navigate('basket')">
                    Basket
                </li>
                <div class="basket_quantity_circle p-2 d-flex justify-content-center align-items-center" *ngIf="basketQuantity > 0">
                    <p class="basket_quantity m-0">
                        {{basketQuantity}}
                    </p>
                </div>
            </div>
            <li class="menu_listitem" (click)="navigate('contact')">
                Contact              
            </li>
            <li class="menu_listitem" (click)="navigate('FAQ')">
                FAQ
            </li>
            <li class="menu_listitem" (click)="logout()">
                Logout
            </li>
        </ul>
    </div>
</div>