<div class="main_page_container d-flex justify-content-center px-5 py-5 w-100">
    <div class="selected_product_container p-3 w-75 d-flex gap-5">
        <img src="{{selectedProduct!.image}}">
        <div class="selected_product_description d-flex flex-column">
            <div>
                <h1>{{selectedProduct!.name}}</h1>
                <p class="mt-3">{{selectedProduct!.description}}</p>
            </div>
            <div>
                <h1 class="price">$ {{selectedProduct!.price}}</h1>
                <button class="btn btn-dark" (click)="addToBasket(selectedProduct!)">Add to basket</button>
                <h3 class="purchase_message mt-3" *ngIf="purchaseMessage">Product Added To Cart !</h3>
            </div>
        </div>
    </div>
</div>