<div class="page_container w-100 d-flex justify-content-center py-5">
    <div class="delivery_info_container p-4">
        <h5>Delivery confirmation</h5>
        <hr>
        <div class="delivery_info">
            <h6>Thank you {{deliveryInfo!.fullName}} for your trust!</h6>
            <h6>Shortly you will receive a confirmation email on: <strong>{{deliveryInfo!.email}}</strong></h6>
            <h6>Expected delivery time is: <strong>3 days</strong></h6>
            <h6>The package will be delivered on: {{deliveryInfo!.address}}, {{deliveryInfo!.zip}}</h6>
        </div>
    </div>
</div>