<div class="privacy_notice_container d-flex justify-content-center align-items-center"><div>
    <div class="content">
        <h2>Privacy notice</h2>
        <div class="point_container">
            <h2></h2>
            <p></p>
        </div>
        <div class="point_container">
            <h5>1. Introduction</h5>
            <p>This Privacy Notice aims to inform users about the personal data we collect, how we use it, and what rights you have regarding your personal data. Please read this document carefully.</p>
        </div>        
        <div class="point_container">
            <h5>2. Data Controller</h5>
            <p>The data controller is Kamil Al-temimi. You can contact me via email at kamil.altemimi&#64;gmail.com.</p>
        </div>        
        <div class="point_container">
            <h5>3. What Personal Data Do We Collect?</h5>
            <p>We collect the following personal data:</p>
            <ul class="personal_data_points">
                <li>Email address</li>
                <li>Shipping Address</li>
                <li>Phone Number</li>
                <li>Payment Information (e.g., credit card details)</li>
            </ul>
        </div>        
        <div class="point_container">
            <h5>4. How We Use Your Personal Data</h5>
            <p>We may use your personal data for the following purposes:</p>
            <ul class="personal_data_points">
                <li>To process and fulfill your orders</li>
                <li>To communicate with you about your orders</li>
                <li>To provide customer support</li>
                <li>To improve our website and services</li>
            </ul>
        </div>        
        <div class="point_container">
            <h5>5. Your Rights</h5>
            <p>You have the following rights regarding your personal data:</p>
            <ul class="personal_data_points">
                <li>The right to access your personal data</li>
                <li>The right to rectify any inaccuracies</li>
                <li>The right to request the deletion of your data</li>
                <li>The right to object to processing</li>
                <li>The right to data portability</li>
            </ul>
        </div>        
        <div class="point_container">
            <h5>6. Data Retention</h5>
            <p>We retain your personal data only for as long as necessary to fulfill the purposes for which we collected it, including for the purposes of satisfying any legal, accounting, or reporting requirements.</p>
        </div>        
        <div class="point_container">
            <h5>7. Security of Your Personal Data</h5>
            <p>We take the security of your personal data seriously and implement appropriate technical and organizational measures to protect it against unauthorized access, loss, or destruction.</p>
        </div>        
        <div class="point_container">
            <h5>8. Changes to This Privacy Notice</h5>
            <p>We may update this Privacy Notice from time to time. Any changes will be posted on this page, and if the changes are significant, we will notify you via email or through a notice on our website.</p>
        </div>        
        <div class="point_container">
            <h5>9. Contact Us</h5>
            <p>If you have any questions about this Privacy Notice or our data practices, please contact us at kamil.altemimi&#64;gmail.com.</p>
        </div>
        <button type="button" class="close_sign btn-close" (click)="closePrivacyNotice()"></button>
        <button type="button" class="w-100 close_button btn btn-warning" (click)="closePrivacyNotice()">Close</button>
    </div>
</div>