.content_container {
    width: 900px;
    border: 1px solid black;
}

.item_image {
    width: 100px;
}

.bin_image {
    width: 20px;
}

.checkout_button {
    height: 40px;
}

@media (max-width: 730px) {
    .product_title, .item_name {
        display: none;
    }
}

@media (max-width: 490px) {
    .item_image {
        width: 80px;
    }
    .price {
        font-size: 15px;
    }
}