<div class="w-100 d-flex flex-column align-items-center pt-5">
    <img class="logo" src="assets/images/logo/logo.svg">
    <div class="w-100 d-flex justify-content-center">
        <h1>FAQ</h1>
    </div>
    <ul class="faq_list d-flex flex-column align-items-center gap-4 mt-4">
        <li class="listitem d-flex flex-column align-items-center">
            <h5 class="question">1. What boxing equipment do you offer?</h5>
            <p class="answer">We offer a variety of boxing gear including gloves, wraps, punching bags, headgear, and apparel for all skill levels.</p>
        </li>
        <li class="listitem d-flex flex-column align-items-center">
            <h5 class="question">2. Are your products suitable for beginners?</h5>
            <p class="answer">Yes, we provide gear designed for beginners, ensuring you have the right tools to start your boxing journey.</p>
        </li>
        <li class="listitem d-flex flex-column align-items-center">
            <h5 class="question">3. What payment methods do you accept?</h5>
            <p class="answer">We accept credit cards.</p>
        </li>
        <li class="listitem d-flex flex-column align-items-center">
            <h5 class="question">4. Do you provide international shipping?</h5>
            <p class="answer">Yes, we ship globally. Shipping costs and delivery times vary depending on your location.</p>
        </li>
        <li class="listitem d-flex flex-column align-items-center">
            <h5 class="question">5. What is your return and exchange policy?</h5>
            <p class="answer">Items can be returned within 30 days of purchase if unused and in original packaging. Please check our return policy for details.</p>
        </li>
        <li class="listitem d-flex flex-column align-items-center">
            <h5 class="question">6. How do I track my order?</h5>
            <p class="answer">Once your order is shipped, you will receive a tracking number via email to monitor its progress.</p>
        </li>
        <li class="listitem d-flex flex-column align-items-center">
            <h5 class="question">7. Do you offer any warranties?</h5>
            <p class="answer">Yes, many of our products come with a manufacturer's warranty. Please check individual product descriptions for specifics.</p>
        </li>
        <li class="listitem d-flex flex-column align-items-center">
            <h5 class="question">8. How can I contact support for inquiries?</h5>
            <p class="answer">You can reach us via email at support&#64;example.com or through our contact form on the website.</p>
        </li>
    </ul>
</div>